<h1> Twitter Time Machine </h1>
<p> sup girl </p>

<%= render 'selecttimeform' %>

<p><%= @place_tweet.text %></p>
<p><%= @place_tweet.timezone %></p>

<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
   src= "<%= @src %>" allowfullscreen>
</iframe>
